# File:       .htaccess
# Author:     Wessex Lifts <marketing@wessexlifts.co.uk>
# Tag Added:  2022-03-08
# Desciption: Forward Pages, Ignoring Certain Ones
RewriteEngine on
RewriteRule ^(ca) - [l]
RewriteRule ^(canada) - [l]
RewriteRule ^(EmailSignature) - [l]
RewriteRule ^(eu) - [l]
RewriteRule ^(test) - [l]
RewriteRule ^(suggest) - [l]
RewriteRule (.*) https://wessexlifts.co.uk/ [R=301,L]
