# -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~--~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
#     File:       .htaccess                                        #
#     Author:     Wessex Lifts <marketing@wessexlifts.co.uk>       # 
#     Tag Added:  2022-03-08                                       #
#     Desciption: Forward Pages, Ignoring Certain Ones             #
# -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~--~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-


# -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~--~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
# REWRITE / FORWARD DOMAIN: 
#   Forward the domain, automatically, to the .co.uk
#   version of the website (might need reviewing).
    <IfModule mod_rewrite.c>
    # Rewrite On
      RewriteEngine on
      
    # Ignore Redirecting the Following...
      RewriteRule ^(ca) - [l]
      RewriteRule ^(canada) - [l]
      RewriteRule ^(EmailSignature) - [l]
      RewriteRule ^(eu) - [l]
      RewriteRule ^(test) - [l]
      
    # Bulk redired... not sufficient
      #RewriteRule (.*) https://wessexlifts.co.uk/? [R=301,L]

    # This was required instead:
      RewriteRule /about-wessex https://wessexlifts.co.uk/about-wessex [R=301,L]
      RewriteRule /blog/2014/flood https://wessexlifts.co.uk/blog/2014/flood [R=301,L]
      RewriteRule /blog/2014/ https://wessexlifts.co.uk/blog/2014/ [R=301,L]
      RewriteRule /blog/2014/mobility-access-roadshow https://wessexlifts.co.uk/blog/2014/mobility-access-roadshow [R=301,L]
      RewriteRule /blog/2014/new-vans https://wessexlifts.co.uk/blog/2014/new-vans [R=301,L]
      RewriteRule /blog/2014/rehacare-upcoming https://wessexlifts.co.uk/blog/2014/rehacare-upcoming [R=301,L]
      RewriteRule /blog/2014/rehacare https://wessexlifts.co.uk/blog/2014/rehacare [R=301,L]
      RewriteRule /blog/2015/cot-conference-workshop https://wessexlifts.co.uk/blog/2015/cot-conference-workshop [R=301,L]
      RewriteRule /blog/2015/diy-sos-digger-vm https://wessexlifts.co.uk/blog/2015/diy-sos-digger-vm [R=301,L]
      RewriteRule /blog/2015/equality-and-diversity-award https://wessexlifts.co.uk/blog/2015/equality-and-diversity-award [R=301,L]
      RewriteRule /blog/2015/ https://wessexlifts.co.uk/blog/2015/ [R=301,L]
      RewriteRule /blog/2015/liftex-international-announcement-for-2016 https://wessexlifts.co.uk/blog/2015/liftex-international-announcement-for-2016 [R=301,L]
      RewriteRule /blog/2015/macmillan-bakeoff https://wessexlifts.co.uk/blog/2015/macmillan-bakeoff [R=301,L]
      RewriteRule /blog/2015/merry-christmas https://wessexlifts.co.uk/blog/2015/merry-christmas [R=301,L]
      RewriteRule /blog/2015/multiple-sclerosis-society-upcoming-skydive https://wessexlifts.co.uk/blog/2015/multiple-sclerosis-society-upcoming-skydive [R=301,L]
      RewriteRule /blog/2015/the-ot-show https://wessexlifts.co.uk/blog/2015/the-ot-show [R=301,L]
      RewriteRule /blog/2015/ve-enclosed-homelift-in-uk-and-europe https://wessexlifts.co.uk/blog/2015/ve-enclosed-homelift-in-uk-and-europe [R=301,L]
      RewriteRule /blog/2015/vm-campervan-lift https://wessexlifts.co.uk/blog/2015/vm-campervan-lift [R=301,L]
      RewriteRule /blog/2015/wave-105-cash-for-kids https://wessexlifts.co.uk/blog/2015/wave-105-cash-for-kids [R=301,L]
      RewriteRule /blog/2016/40th-anniversary-celebrations https://wessexlifts.co.uk/blog/2016/40th-anniversary-celebrations [R=301,L]
      RewriteRule /blog/2016/george-nvq-mechanical-electrical-engineering https://wessexlifts.co.uk/blog/2016/george-nvq-mechanical-electrical-engineering [R=301,L]
      RewriteRule /blog/2016/ https://wessexlifts.co.uk/blog/2016/ [R=301,L]
      RewriteRule /blog/2016/meet-our-skydiving-receptionist https://wessexlifts.co.uk/blog/2016/meet-our-skydiving-receptionist [R=301,L]
      RewriteRule /blog/2016/the-props https://wessexlifts.co.uk/blog/2016/the-props [R=301,L]
      RewriteRule /blog/2016/wave-105-cash-for-kids https://wessexlifts.co.uk/blog/2016/wave-105-cash-for-kids [R=301,L]
      RewriteRule /blog/2017/christmas-cash-for-kids-and-more https://wessexlifts.co.uk/blog/2017/christmas-cash-for-kids-and-more [R=301,L]
      RewriteRule /blog/2017/home-lift-without-pit https://wessexlifts.co.uk/blog/2017/home-lift-without-pit [R=301,L]
      RewriteRule /blog/2017/how-much-is-a-home-lift https://wessexlifts.co.uk/blog/2017/how-much-is-a-home-lift [R=301,L]
      RewriteRule /blog/2017/how-our-lifts-can-be-installed-anywhere-in-the-home https://wessexlifts.co.uk/blog/2017/how-our-lifts-can-be-installed-anywhere-in-the-home [R=301,L]
      RewriteRule /blog/2017/ https://wessexlifts.co.uk/blog/2017/ [R=301,L]
      RewriteRule /blog/2017/macmillan-bakeoff https://wessexlifts.co.uk/blog/2017/macmillan-bakeoff [R=301,L]
      RewriteRule /blog/2017/maintenance-contracts-quick-guide https://wessexlifts.co.uk/blog/2017/maintenance-contracts-quick-guide [R=301,L]
      RewriteRule /blog/2017/naec-rigs https://wessexlifts.co.uk/blog/2017/naec-rigs [R=301,L]
      RewriteRule /blog/2017/naec https://wessexlifts.co.uk/blog/2017/naec [R=301,L]
      RewriteRule /blog/2017/new-vans https://wessexlifts.co.uk/blog/2017/new-vans [R=301,L]
      RewriteRule /blog/2017/otac-reading https://wessexlifts.co.uk/blog/2017/otac-reading [R=301,L]
      RewriteRule /blog/2017/red-nose-day https://wessexlifts.co.uk/blog/2017/red-nose-day [R=301,L]
      RewriteRule /blog/2017/solar-system-custom-vm-wrap https://wessexlifts.co.uk/blog/2017/solar-system-custom-vm-wrap [R=301,L]
      RewriteRule /blog/2017/the-ot-show-all-you-need-to-know https://wessexlifts.co.uk/blog/2017/the-ot-show-all-you-need-to-know [R=301,L]
      RewriteRule /blog/2017/the-spirit-of-self-build https://wessexlifts.co.uk/blog/2017/the-spirit-of-self-build [R=301,L]
      RewriteRule /blog/2017/wessex-safety-standards https://wessexlifts.co.uk/blog/2017/wessex-safety-standards [R=301,L]
      RewriteRule /blog/2017/what-is-a-through-floor-lift https://wessexlifts.co.uk/blog/2017/what-is-a-through-floor-lift [R=301,L]
      RewriteRule /blog/2017/which-through-floor-home-lift-is-best-for-you https://wessexlifts.co.uk/blog/2017/which-through-floor-home-lift-is-best-for-you [R=301,L]
      RewriteRule /blog/2017/why-choose-wessex https://wessexlifts.co.uk/blog/2017/why-choose-wessex [R=301,L]
      RewriteRule /blog/2018/3-tips-for-looking-after-your-home-lift https://wessexlifts.co.uk/blog/2018/3-tips-for-looking-after-your-home-lift [R=301,L]
      RewriteRule /blog/2018/5-homelift-features-you-may-not-be-aware-of https://wessexlifts.co.uk/blog/2018/5-homelift-features-you-may-not-be-aware-of [R=301,L]
      RewriteRule /blog/2018/7-home-lift-safety-features https://wessexlifts.co.uk/blog/2018/7-home-lift-safety-features [R=301,L]
      RewriteRule /blog/2018/7-images-that-sum-up-our-2017 https://wessexlifts.co.uk/blog/2018/7-images-that-sum-up-our-2017 [R=301,L]
      RewriteRule /blog/2018/home-lifts-who-needs-them https://wessexlifts.co.uk/blog/2018/home-lifts-who-needs-them [R=301,L]
      RewriteRule /blog/2018/homelift-cost https://wessexlifts.co.uk/blog/2018/homelift-cost [R=301,L]
      RewriteRule /blog/2018/how-home-lifts-will-save-the-world https://wessexlifts.co.uk/blog/2018/how-home-lifts-will-save-the-world [R=301,L]
      RewriteRule /blog/2018/ https://wessexlifts.co.uk/blog/2018/ [R=301,L]
      RewriteRule /blog/2018/making-the-most-of-your-homelift https://wessexlifts.co.uk/blog/2018/making-the-most-of-your-homelift [R=301,L]
      RewriteRule /blog/2018/otac-west-midlands https://wessexlifts.co.uk/blog/2018/otac-west-midlands [R=301,L]
      RewriteRule /blog/2018/ufc-bishops-waltham-platform-lift-church-case-study https://wessexlifts.co.uk/blog/2018/ufc-bishops-waltham-platform-lift-church-case-study [R=301,L]
      RewriteRule /blog/2018/vm-hybrid-models-announcement https://wessexlifts.co.uk/blog/2018/vm-hybrid-models-announcement [R=301,L]
      RewriteRule /blog/2020/coronavirus-update-1 https://wessexlifts.co.uk/blog/2020/coronavirus-update-1 [R=301,L]
      RewriteRule /blog/2020/coronavirus-update-2 https://wessexlifts.co.uk/blog/2020/coronavirus-update-2 [R=301,L]
      RewriteRule /blog/2020/coronavirus-update-3 https://wessexlifts.co.uk/blog/2020/coronavirus-update-3 [R=301,L]
      RewriteRule /blog/2020/gain-freedom-and-independence-in-your-own-home https://wessexlifts.co.uk/blog/2020/gain-freedom-and-independence-in-your-own-home [R=301,L]
      RewriteRule /blog/2020/ https://wessexlifts.co.uk/blog/2020/ [R=301,L]
      RewriteRule /blog/2020/we-are-delighted-to-introduce-our-brand-ambassador-sophie-carrigill https://wessexlifts.co.uk/blog/2020/we-are-delighted-to-introduce-our-brand-ambassador-sophie-carrigill [R=301,L]
      RewriteRule /blog/2021/4-reasons-why-a-ramp-may-not-be-the-solution-for-you https://wessexlifts.co.uk/blog/2021/4-reasons-why-a-ramp-may-not-be-the-solution-for-you [R=301,L]
      RewriteRule /blog/2021/7-years-sponsoring-ian-marsden https://wessexlifts.co.uk/blog/2021/7-years-sponsoring-ian-marsden [R=301,L]
      RewriteRule /blog/2021/catching-up-with-ian-marsden-after-the-paralympics https://wessexlifts.co.uk/blog/2021/catching-up-with-ian-marsden-after-the-paralympics [R=301,L]
      RewriteRule /blog/2021/free-quotes-what-to-expect-when-we-visit https://wessexlifts.co.uk/blog/2021/free-quotes-what-to-expect-when-we-visit [R=301,L]
      RewriteRule /blog/2021/home-lift-cost-2021 https://wessexlifts.co.uk/blog/2021/home-lift-cost-2021 [R=301,L]
      RewriteRule /blog/2021/ https://wessexlifts.co.uk/blog/2021/ [R=301,L]
      RewriteRule /blog/2021/introducing-vice-president-north-american-operations https://wessexlifts.co.uk/blog/2021/introducing-vice-president-north-american-operations [R=301,L]
      RewriteRule /blog/2021/open-as-usual https://wessexlifts.co.uk/blog/2021/open-as-usual [R=301,L]
      RewriteRule /blog/2021/otac-leeds https://wessexlifts.co.uk/blog/2021/otac-leeds [R=301,L]
      RewriteRule /blog/2022/DFG-Disabled-Facilities-Grant-FAQ https://wessexlifts.co.uk/blog/2022/DFG-Disabled-Facilities-Grant-FAQ [R=301,L]
      RewriteRule /blog/2022/ https://wessexlifts.co.uk/blog/2022/ [R=301,L]
      RewriteRule /blog/2022/new-dugard-vmc https://wessexlifts.co.uk/blog/2022/new-dugard-vmc [R=301,L]
      RewriteRule /blog/ https://wessexlifts.co.uk/blog/ [R=301,L]
      RewriteRule /careers https://wessexlifts.co.uk/careers [R=301,L]
      RewriteRule /contact https://wessexlifts.co.uk/contact [R=301,L]
      RewriteRule /forbidden https://wessexlifts.co.uk/forbidden [R=301,L]
      RewriteRule /home-lifts https://wessexlifts.co.uk/home-lifts [R=301,L]
      RewriteRule / https://wessexlifts.co.uk/ [R=301,L]
      RewriteRule /lift-maintenance https://wessexlifts.co.uk/lift-maintenance [R=301,L]
      RewriteRule /lifts/elesse https://wessexlifts.co.uk/lifts/elesse [R=301,L]
      RewriteRule /lifts/Incline-Platform-Stairlift https://wessexlifts.co.uk/lifts/Incline-Platform-Stairlift [R=301,L]
      RewriteRule /lifts/ https://wessexlifts.co.uk/lifts/ [R=301,L]
      RewriteRule /lifts/Liberty-3-Enclosed-Platform-Lift https://wessexlifts.co.uk/lifts/Liberty-3-Enclosed-Platform-Lift [R=301,L]
      RewriteRule /lifts/Liberty-Open-Platform-Lift https://wessexlifts.co.uk/lifts/Liberty-Open-Platform-Lift [R=301,L]
      RewriteRule /lifts/LR-Platform-Lift https://wessexlifts.co.uk/lifts/LR-Platform-Lift [R=301,L]
      RewriteRule /lifts/SP-Step-Lift https://wessexlifts.co.uk/lifts/SP-Step-Lift [R=301,L]
      RewriteRule /lifts/VE-Enclosed-Home-Lift https://wessexlifts.co.uk/lifts/VE-Enclosed-Home-Lift [R=301,L]
      RewriteRule /lifts/VM-Home-Lift https://wessexlifts.co.uk/lifts/VM-Home-Lift [R=301,L]
      RewriteRule /not-found https://wessexlifts.co.uk/not-found [R=301,L]
      RewriteRule /platform-lifts https://wessexlifts.co.uk/platform-lifts [R=301,L]
      RewriteRule /privacy-policy https://wessexlifts.co.uk/privacy-policy [R=301,L]
      RewriteRule /sabbath-lifts https://wessexlifts.co.uk/sabbath-lifts [R=301,L]
      RewriteRule /sitemap https://wessexlifts.co.uk/sitemap [R=301,L]
      RewriteRule /sponsorship/ian-marsden https://wessexlifts.co.uk/sponsorship/ian-marsden [R=301,L]
      RewriteRule /sponsorship/ https://wessexlifts.co.uk/sponsorship/ [R=301,L]
      RewriteRule /sponsorship/sophie-carrigill https://wessexlifts.co.uk/sponsorship/sophie-carrigill [R=301,L]
      RewriteRule /unauthorised https://wessexlifts.co.uk/unauthorised [R=301,L]
      # Generated with vim macros and find . -name "*.php"
    </IfModule>
# -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~--~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-