# -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~--~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
#     File:       .htaccess                                        #
#     Author:     Wessex Lifts <marketing@wessexlifts.co.uk>       # 
#     Tag Added:  2022-03-08                                       #
#     Desciption: Forward Pages, Ignoring Certain Ones             #
# -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~--~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-


# -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~--~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-
# REWRITE / FORWARD DOMAIN: 
#   Forward the domain, automatically, to the .co.uk
#   version of the website (might need reviewing).
    <IfModule mod_rewrite.c>
    # Rewrite On
      RewriteEngine on
      
    # Ignore Redirecting the Following...
      RewriteRule ^(ca) - [l]
      RewriteRule ^(canada) - [l]
      RewriteRule ^(EmailSignature) - [l]
      RewriteRule ^(eu) - [l]
      RewriteRule ^(test) - [l]
      
    # Bulk Redirect
      #RewriteRule (.*) https://wessexlifts.co.uk/? [R=301,L]
      #This was the proper way of doing it:
      RewriteRule ^(.*)$ https://wessexlifts.co.uk/$1 [R=301,L]
    </IfModule>
# -~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~--~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-~-